/* tags to remember

.bg-h5JY_x background

theme specifics ----------
.theme_light
.theme_black
--------------------------

.symbol-3ffeCr         |idk what this does

.css-3vaxre-menu       |dropdown menu

.markup-2BOw-j         |code all text

.embedFull-2tM8--      |Embed
*/


/*
messager frame ---------------------
form-2fGMdU            |the frame behind the messager
------------------------------------
*/


/*
main chat body ---------------------
.chatContent-a9vAAp    |the main window that holds messages dont tamper (top level)

.scroller-2LSbBU       |chat-scroller
.scrollerInner-2YIMLh  |back of .chatContent
------------------------------------
*/

.theme_dark{
    --message-box-background-color:#ffffff;
    --message-box-opacity:50%;
    --chat-background-color:none;
}

.scrollableContainer-2NUZem{
    background: var(--message-box-background-color);
    opacity: 50%;
}

.scrollerInner-2YIMLh{
    background: var(--chat-background-color);
    
}